<div>
    <h2>Cursos Disponibilizados Pela Fatec Ipiranga:</h2>
    <hr>
</div>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Cursos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Análise e Desenvolvimento de Sistemas</td> 
        </tr>
        <tr>
            <td>Eventos</td>
        </tr>
        <tr>
            <td>Gestão Comercial</td>  
        </tr>
        <tr>
            <td>RH</td> 
        </tr>
    </tbody>
</table>